* {
    margin: 0;
    padding: 0;
}

#btn-primary {
    border-radius: 8px;
    background: #FF5400;
    padding: 12px;
}

/* Header */
header {
    max-width: 1170px;
    margin: 0px auto;
}

/* nav Bar  */
nav {
    margin-top: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

nav h1 {
    width: 50%;
    color: #131318;
    font-family: Mulish;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.travel {
    color: #FF5400;
    font-family: Mulish;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

nav>ul {
    width: 50%;
    display: flex;
    list-style: none;
    gap: 50px;
    margin-left: 40px;
}

nav a {
    text-decoration: none;
    color: #424247;
    text-align: center;
    font-family: Mulish;
    font-size: 18px;
    font-weight: 400;

}

.home-color {
    color: #FF5400;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;

}

/* Banner */
.banner {
    margin-top: 50px;
    width: 100%;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("../Images/Group\ 13\ \(1\)\ \(1\).png");
    border-radius: 16px;
    height: 500px;
    

}

.banner-content {

    padding-top: 40px;
    text-align: center;
}

.banner-title {
    color: #FFF;
    font-family: Mulish;
    font-size: 64px;
    font-weight: 800;
    margin-bottom: 10px;
}

.banner-description {
    color: #FFF;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 12px;

}

.select-option {

    border-radius: 8px;
    display: flex;
    justify-content: center;
    gap: 25px;
}

.button {

    border-radius: 8px;
    background: #FFF;
    padding: 16px 85px 16px 16px;
    margin-left: 5px;
}

/* Main  */
main {
    max-width: 1170px;
    margin: 0 auto;
}

/* Popular Tour section */
.our-popular-tour {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-bottom: 50px;

}

.popular-tour {
    width: 50%;

}

.popular-tour-title {
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;

}

.popular-tour-content {
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.popular-tour-img {
    width: 50%;
}

.popular-tour-img img {
    width: 100%;
}

/* Destination section */
.destination-title {
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;

}

.destination-description {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
}

h4 {
    padding: 10px;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
    padding-top: 130px;

}

.maldives {
    background-image: url("../Images/Rectangle\ 5.png");
    grid-area: maldives;
    background-repeat: no-repeat;
    height: 300px;
}

.indonesia {
    background-image: url("../Images/Rectangle\ 8.png");
    grid-area: indonesia;
    background-repeat: no-repeat;
    height: 300px;
}

.sri-lanka {
    background-image: url("../Images/Rectangle\ 6.png");
    grid-area: sri-lanka;
    background-repeat: no-repeat;
    height: 286px;
    margin-right: 30px;
}

.north-america {
    background-image: url("../Images/Rectangle\ 7.png");
    grid-area: north-america;
    background-repeat: no-repeat;
    margin-left: 30px;
    margin-right: -25px;
    height: 286px;
}

.kashmir {
    background-image: url("../Images/Rectangle\ 9.png");
    grid-area: kashmir;
    background-repeat: no-repeat;
    margin-left: 3px;
    height: 286px;
}

.bangladesh {

    background-image: url("../Images/Rectangle\ 11.png");
    grid-area: bangladesh;
    background-repeat: no-repeat;
    height: 300px;
    margin-right: 3px;
}

.bandarban {

    background-image: url("../Images/Rectangle\ 10.png");
    background-repeat: no-repeat;
    grid-area: bandarban;
    margin-left: 40px;
    height: 300px;
}

.destination-img {
    margin-top: 30px;
    gap: 10px;
    display: grid;
    grid-template-areas:
        "maldives maldives maldives maldives indonesia indonesia indonesia indonesia "
        "sri-lanka sri-lanka north-america north-america north-america north-america kashmir kashmir"
        "bangladesh bangladesh bangladesh bandarban bandarban bandarban bandarban bandarban";

}

/*  Why Choose Us section */
.choose-us-title {
    text-align: center;
    margin-top: 50px;
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
}

.choose-us-description {

    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
}

.choose-title {
    color: #131318;

    font-family: Mulish;
    font-size: 24px;
    font-weight: 800;
}

.choose-content {
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
}

.choose-us-main {
    margin-top: 50px;
    display: flex;
    gap: 40px;
    align-items: center;
}

.choose-us i {
    margin-bottom: 20px;
}

.main-hotel {
    padding-left: 20px;
    padding-top: 50px;
    padding-bottom: 0px;
    width: 50%;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    height: 200px;
    overflow: auto;
    overflow-x: hidden;
}

.main-service {
    padding-left: 20px;
    padding-top: 50px;
    padding-bottom: 0px;
    width: 50%;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    height: 200px;
    overflow: auto;
    overflow-x: hidden;
}

.main-price {
    overflow: auto;
    overflow-x: hidden;
    padding-left: 20px;
    padding-top: 50px;
    padding-bottom: 0px;
    width: 60%;
    margin: 0 auto;
    height: 200px;
    margin-top: 40px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}

/* Subscribe section */
.subscribe {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.newsletter-subscribe {
    border-radius: 16px;
    background: rgba(35, 255, 237, 0.05);
    border: 1px solid #FF5400;
    padding: 70px;
    margin-bottom: 2px;
}

.subscribe-form {
    padding-top: 30px;
}

.line {
    width: 50%;
    background: rgba(19, 19, 24, 0.10);
}

.subscribe-form input {
    color: rgba(19, 19, 24, 0.30);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
}

.btn-subscribe {
    padding-left: 11%;
    padding-right: 11%;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 800;
    border-radius: 8px;
    background: #FF5400;
}

.newsletter-img {
    width: 50%;
}

.newsletter-img img {
    width: 100%;
    position: relative;
}

.btn-save-up {
    position: absolute;
    border-radius: 16px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 15px;
    font-weight: 400;
    margin-top: 280px;
    margin-left: -165px;
    ;
    padding: 5px;
    transform: rotate(-19.628deg);
}

.save-up-title {
    color: #FFF;
    font-family: Mulish;
    font-size: 19px;
    font-weight: 800;

}

/* footer */

.footer {
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
    background: rgba(19, 19, 24, 0.05);
    margin-top: 50px;
    padding-top: 50px;
    height: 400px;
}

.footer-title {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 30px;
}

.footer-description {
    color: #5A5A5D;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
}

.footer-icon {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 40px;
    justify-content: center;
}

.line-two {
    background: rgba(19, 19, 24, 0.10);
    width: 70%;
    margin: 0 auto;
}

.footer-end {
    color: #131318;
    font-family: Inter;
    font-size: 16px;
    font-weight: 300;
    margin-top: 50px;
}

/* small device */
@media screen and (max-width:600px) {

    nav,
    nav>ul,
    .select-option,
    .our-popular-tour,
    .choose-us-main,
    .subscribe {
        flex-direction: column;
    }

    .banner-title {
        font-size: 30px;

    }

    .banner {

        width: 88%;
        margin: 0 auto;
    }

    .select-option {
        padding: 10px 40px;
        margin: 0 40px;
    }

    .button {
        padding: 5px 20px;
        text-align: start;
    }

    .popular-tour {
        text-align: center;
        margin-left: 25%;
    }

    .popular-tour-img {
        width: 90%;
        margin: 0 auto;
    }

    .popular-tour-img img {
        width: 100%;
    }

    .destination-img {
        width: 95%;
        margin: 0 auto;
        background-position: center;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "maldives maldives"
            "indonesia indonesia "
            "sri-lanka kashmir"
            "bangladesh bangladesh"
            "bandarban bandarban"

            "north-america north-america"
        ;
    }
    .destination-content,
    .choose-us {
        width: 80%;
        margin: 0 auto;
    }
    .sri-lanka {
        margin-right: 0px;
    }

    .north-america {
        max-width: 100%;
        margin-left: 0;
    }

    .bandarban {

        margin-left: 0;
    }

    .main-price,
    .main-hotel,
    .main-service {
        width: 78%;
        margin: 0 auto;

        overflow: auto;
        overflow-x: hidden;

    }

    .main-price {
        margin-top: 20px;
    }

    .subscribe {
        max-width: 82%;
        margin: 0 auto;
        margin-top: 50px;
    }

    .newsletter-img {
        width: 100%;
        position: relative;
    }

    .newsletter-img img {
        width: 100%;

    }

    .btn-save-up {
        position: absolute;
        font-size: 10px;
        margin-left: -42%;
        margin-top: 42%;
        margin-bottom: 15px;
    }

    .save-up-title {
        font-size: 15px;
    }

    .footer-title {
        margin-top: -10px;
    }

    .line-two {
        margin-top: -12px;
        margin-bottom: 3px;
    }

    .footer-end {
        margin-top: -1px;
    }

}

/* medium device  */
@media screen and (min-width:600px) and (max-width:992px) {
    .destination-img {

        width: 95%;
        margin: 0 auto;
        background-position: center;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "maldives maldives  "
            "indonesia indonesia  "
            "sri-lanka kashmir "
            "bangladesh north-america  "
            "bandarban bandarban"
        ;
    }

    .maldives,
    .indonesia,
    .bandarban {
        margin-left: 12.5%;
        margin-right: 12.5%;
        margin-top: 10px;
    }

    .sri-lanka {
        margin-right: 0px;
    }

    .kashmir {
        padding-right: 12%;
    }

    .newsletter-img {
        width: 100%;
        position: relative;
    }

    .newsletter-img img {
        width: 100%;

    }
    .btn-save-up {
        position: absolute;
        font-size: 10px;
        margin-left: -160px;
        margin-top: 210px;
        margin-bottom: 15px;
    }

}