* {
    margin: 0;
    padding: 0;
}

#btn-primary {
    border-radius: 8px;
    background: #FF5400;
    padding: 12px;
}

header {
    max-width: 1170px;
    margin: 0px auto;
}

nav {
    margin-top: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

nav h1 {
    width: 50%;
    color: #131318;
    font-family: Mulish;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.travel {
    color: #FF5400;
    font-family: Mulish;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

nav>ul {
    width: 50%;
    display: flex;
    list-style: none;
    gap: 50px;
    margin-left: 40px;
}

nav a {
    text-decoration: none;
    color: #424247;
    text-align: center;
    font-family: Mulish;
    font-size: 18px;
    font-weight: 400;

}

.home-color {
    color: #FF5400;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;

}

.banner {
    margin-top: 50px;
    width: 100%;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("../Images/Group\ 13\ \(1\)\ \(1\).png");
    border-radius: 16px;
    height: 500px;

}

.banner-content {

    padding-top: 40px;
    text-align: center;
}

.banner-title {
    color: #FFF;
    font-family: Mulish;
    font-size: 64px;
    font-weight: 800;
    margin-bottom: 10px;
}

.banner-description {
    color: #FFF;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 12px;

}

.select-option {

    border-radius: 8px;
    display: flex;
    justify-content: center;
    gap: 25px;
}


.button {

    border-radius: 8px;
    background: #FFF;
    padding: 16px 85px 16px 16px;
    margin-left: 5px;
}

main {
    max-width: 1170px;
    margin: 0 auto;
}

.our-popular-tour {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 60px; 

}

.popular-tour {
    width: 50%;

}

.popular-tour-title {
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;

}

.popular-tour-content {
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.popular-tour-img {
    width: 50%;
}
















@media screen and (max-width:600px) {

    nav,
    nav>ul,
    .select-option,
    .our-popular-tour
     {
        flex-direction: column;
    }

    .banner-title {
        font-size: 30px;

    }

    .banner {

        width: 88%;
        margin: 0 auto;
    }

    .select-option {
        padding: 10px 40px;
        margin: 0 40px;
    }

    .button {
        padding: 5px 20px;
        text-align: start;
    }
    .popular-tour{
        text-align: center;
        margin-left: 25%;
    }
    .popular-tour-img{
        width: 90%;
        margin: 0 auto;
    }
    .popular-tour-img img{
        width: 100%;
    }


}